<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cloud.sonic.controller.mapper.DevicesMapper">

    <select id="findByParams" resultType="org.cloud.sonic.controller.models.domain.Devices">
        select d.* from devices d
        <where>
        1 = 1
            <if test="params.androidVersion != null or params.iOSVersion != null">
                <choose>
                    <when test="params.androidVersion != null and params.iOSVersion != null">
                        and ((
                        d.platform = 1 and
                        <foreach collection="params.androidVersion" item="androidVersion" open="(" close=")" separator="or">
                            d.version like concat( #{androidVersion}, '%')
                        </foreach>
                        )
                        or (d.platform = 2 and
                        <foreach collection="params.iOSVersion" item="iOSVersion" open="(" close=")" separator="or">
                            d.version like concat( #{iOSVersion}, '%')
                        </foreach>))
                    </when>
                    <otherwise>
                        <if test="params.androidVersion != null">
                            and (
                            d.platform = 1 and
                            <foreach collection="params.androidVersion" item="androidVersion" open="(" close=")" separator="or">
                                d.version like concat( #{androidVersion}, '%')
                            </foreach>
                            )
                        </if>
                        <if test="params.iOSVersion != null">
                            and (
                            d.platform = 2 and
                            <foreach collection="params.iOSVersion" item="iOSVersion" open="(" close=")" separator="or">
                                d.version like concat( #{iOSVersion}, '%')
                            </foreach>
                            )
                        </if>
                    </otherwise>
                </choose>
            </if>
            <if test="params.manufacturer != null and params.manufacturer.size() > 0">
                and d.manufacturer in
                <foreach collection="params.manufacturer" item="manufacturer" open="(" close=")" separator=",">
                    #{manufacturer}
                </foreach>
            </if>
            <if test="params.cpu != null and params.cpu.size() > 0">
                and d.cpu in
                <foreach collection="params.cpu" item="cpu" open="(" close=")" separator=",">
                    #{cpu}
                </foreach>
            </if>
            <if test="params.size != null and params.size.size() > 0">
                and d.size in
                <foreach collection="params.size" item="size" open="(" close=")" separator=",">
                    #{size}
                </foreach>
            </if>
            <if test="params.agentId != null and params.agentId.size() > 0">
                and d.agent_id in
                <foreach collection="params.agentId" item="agentId" open="(" close=")" separator=",">
                    #{agentId}
                </foreach>
            </if>
            <if test="params.status!=null">
                and d.status in
                <foreach collection="params.status" item="status" open="(" close=")" separator=",">
                    #{status}
                </foreach>
            </if>
            <if test="params.deviceInfo != null and params.deviceInfo != ''">
                and (
                    d.ud_id like "%${params.deviceInfo}%" or
                    d.model like "%${params.deviceInfo}%" or
                    d.chi_name like "%${params.deviceInfo}%"
                )
            </if>
        </where>
        order by case
            when d.status='ONLINE' then 1
            when d.status='DEBUGGING' then 2
            when d.status='TESTING' then 3
            when d.status='ERROR' then 4
            when d.status='UNAUTHORIZED' then 5
            when d.status='OFFLINE' then 6
            when d.status='DISCONNECTED' then 7 else 8 end asc,
                 d.status asc,
                 d.id desc
    </select>


    <select id="findTemper" resultType="java.lang.Integer">
        select avg(temperature) as avg from devices
        where temperature &lt;&gt; 0 and status in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>
</mapper>
