server:
  port: 0

spring:
  quartz:
    properties:
      org:
        quartz:
          scheduler:
            instanceName: SonicQuartz
            instanceId: AUTO
          jobStore:
            isClustered: true
    job-store-type: jdbc
    jdbc:
      initialize-schema: never

robot:
  client:
    host: http://${SONIC_SERVER_HOST:localhost}:${SONIC_SERVER_PORT:3000}
  img:
    success: "https://gitee.com/sonic-cloud/sonic-cloud/raw/main/src/assets/suc.png"
    warning: "https://gitee.com/sonic-cloud/sonic-cloud/raw/main/src/assets/warn.png"
    error: "https://gitee.com/sonic-cloud/sonic-cloud/raw/main/src/assets/fail.png"
  line-notify:
    host: "https://notify-api.line.me/api/notify"
