server:
  port: 0

spring:
  datasource:
    initialization-mode: always
  quartz:
    properties:
      org:
        quartz:
          scheduler:
            instanceName: SonicQuartz
            instanceId: AUTO
          jobStore:
            isClustered: true
    job-store-type: jdbc
    jdbc:
      initialize-schema: never

sonic:
  jobs:
    fileCron: 0 0 12 * * ?
    resultCron: 0 0 12 * * ?
    dayReportCron: 0 0 10 * * ?
    weekReportCron: 0 0 10 ? * Mon
    filesKeepDay: 60
    resultsKeepDay: 60
